.hero__container{
    max-width: 1200px;
    height: 600px;
    position: relative;
    list-style: none;

}
.hero__baground-img{
    width:1111px ;
    height: 600px;
}
.hero__item{
    position: absolute;
    width: 445px;
    height: 357px;
    background: white;
    top:265px;
    left: 20px;
    
}
.hero__btn-img{
    padding-right: 50px;
}
.hero__title{
    font-family: "Ibarra Real Nova" , sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -0.4464285671710968px;
    text-align: left;
    color: #33323D;
    width: 390px;
    height: 200px;
}
.hero__btn{
    width: 200px;
    height: 48px;
    margin-top: 108px;
    background: #203A4C;
    color: #FFFFFF;
    font-family: "Public Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 2px;
    text-align: center;  
    border: none;  
}
.hero__btn:hover{
    background: #5FB4A2;
    color: #33323D;
    border: none;
}